<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Provide support for component scanning -->
    <context:component-scan base-package="com.example.test_blog1" />

    <!--Provide support for conversion, formatting and validation -->
    <mvc:annotation-driven/>


    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>




    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/prophet_blog?useSSL=false"></property>
        <property name="username" value="root"></property>
        <property name="password" value=""></property>
    </bean>


    <bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="ds"></property>
    </bean>

    <bean id="blogDao" class="com.example.test_blog1.dao.BlogDao">
        <property name="template" ref="jt"></property>
    </bean>

    <bean id="userDao" class="com.example.test_blog1.dao.UserDao">
        <property name="template" ref="jt"></property>
    </bean>

    <bean id="blog" class="com.example.test_blog1.entity.Blog" autowire="byName"></bean>
    <bean id="user" class="com.example.test_blog1.entity.User" autowire="byName"></bean>

</beans>